@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" class="mt-4">
    <input name="email" type="email" placeholder="Email" class="form-control" required />
    <input name="password" type="password" placeholder="Password" class="form-control mt-2" required />
    <button class="btn btn-primary mt-3">Accedi</button>
</form>
