<h2>Nuovo Cliente</h2>

<form method="post">
    <input name="Nome" class="form-control" placeholder="Nome" required />
    <input name="Cognome" class="form-control mt-2" placeholder="Cognome" required />
    <input name="Email" class="form-control mt-2" placeholder="Email" />
    <input name="Telefono" class="form-control mt-2" placeholder="Telefono" />

    <button class="btn btn-success mt-3">Salva</button>
</form>
